@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Regular.08f02286.ttf") format("ttf"), url("Montserrat-Regular.43b3708b.woff2") format("woff2"), url("Montserrat-Regular.95dcbf3e.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("Montserrat-SemiBold.6b052375.ttf") format("ttf"), url("Montserrat-SemiBold.856fa175.woff2") format("woff2"), url("Montserrat-SemiBold.d7dd3b28.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("OpenSans-Regular.1fd80eb7.ttf") format("ttf"), url("OpenSans-Regular.30ed1e52.woff2") format("woff2"), url("OpenSans-Regular.76a0f118.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("OpenSans-SemiBold.91fb12e1.ttf") format("ttf"), url("OpenSans-SemiBold.f8aa1a9f.woff2") format("woff2"), url("OpenSans-SemiBold.a9867ddc.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.tippy-iOS {
  cursor: pointer !important;
}

.tippy-notransition {
  transition: none !important;
}

.tippy-popper {
  perspective: 700px;
  z-index: 9999;
  outline: 0;
  max-width: calc(100% - 10px);
  line-height: 1.4;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1);
}

.tippy-popper[x-placement^="top"] .tippy-backdrop {
  border-radius: 40% 40% 0 0;
}

.tippy-popper[x-placement^="top"] .tippy-roundarrow {
  transform-origin: 50% 0;
  bottom: -8px;
}

.tippy-popper[x-placement^="top"] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  transform: rotate(180deg);
}

.tippy-popper[x-placement^="top"] .tippy-arrow {
  transform-origin: 50% 0;
  border-top: 8px solid #333;
  border-left: 8px solid #0000;
  border-right: 8px solid #0000;
  margin: 0 6px;
  bottom: -7px;
}

.tippy-popper[x-placement^="top"] .tippy-backdrop {
  transform-origin: 0 25%;
}

.tippy-popper[x-placement^="top"] .tippy-backdrop[data-state="visible"] {
  transform: scale(1)translate(-50%, -55%);
}

.tippy-popper[x-placement^="top"] .tippy-backdrop[data-state="hidden"] {
  opacity: 0;
  transform: scale(.2)translate(-50%, -45%);
}

.tippy-popper[x-placement^="top"] [data-animation="shift-toward"][data-state="visible"] {
  transform: translateY(-10px);
}

.tippy-popper[x-placement^="top"] [data-animation="shift-toward"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(-20px);
}

.tippy-popper[x-placement^="top"] [data-animation="perspective"] {
  transform-origin: bottom;
}

.tippy-popper[x-placement^="top"] [data-animation="perspective"][data-state="visible"] {
  transform: translateY(-10px)rotateX(0);
}

.tippy-popper[x-placement^="top"] [data-animation="perspective"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(0)rotateX(60deg);
}

.tippy-popper[x-placement^="top"] [data-animation="fade"][data-state="visible"] {
  transform: translateY(-10px);
}

.tippy-popper[x-placement^="top"] [data-animation="fade"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(-10px);
}

.tippy-popper[x-placement^="top"] [data-animation="shift-away"][data-state="visible"] {
  transform: translateY(-10px);
}

.tippy-popper[x-placement^="top"] [data-animation="shift-away"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(0);
}

.tippy-popper[x-placement^="top"] [data-animation="scale"][data-state="visible"] {
  transform: translateY(-10px)scale(1);
}

.tippy-popper[x-placement^="top"] [data-animation="scale"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(0)scale(.5);
}

.tippy-popper[x-placement^="bottom"] .tippy-backdrop {
  border-radius: 0 0 30% 30%;
}

.tippy-popper[x-placement^="bottom"] .tippy-roundarrow {
  transform-origin: 50% 100%;
  top: -8px;
}

.tippy-popper[x-placement^="bottom"] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  transform: rotate(0);
}

.tippy-popper[x-placement^="bottom"] .tippy-arrow {
  transform-origin: 50% 100%;
  border-bottom: 8px solid #333;
  border-left: 8px solid #0000;
  border-right: 8px solid #0000;
  margin: 0 6px;
  top: -7px;
}

.tippy-popper[x-placement^="bottom"] .tippy-backdrop {
  transform-origin: 0 -50%;
}

.tippy-popper[x-placement^="bottom"] .tippy-backdrop[data-state="visible"] {
  transform: scale(1)translate(-50%, -45%);
}

.tippy-popper[x-placement^="bottom"] .tippy-backdrop[data-state="hidden"] {
  opacity: 0;
  transform: scale(.2)translate(-50%);
}

.tippy-popper[x-placement^="bottom"] [data-animation="shift-toward"][data-state="visible"] {
  transform: translateY(10px);
}

.tippy-popper[x-placement^="bottom"] [data-animation="shift-toward"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(20px);
}

.tippy-popper[x-placement^="bottom"] [data-animation="perspective"] {
  transform-origin: top;
}

.tippy-popper[x-placement^="bottom"] [data-animation="perspective"][data-state="visible"] {
  transform: translateY(10px)rotateX(0);
}

.tippy-popper[x-placement^="bottom"] [data-animation="perspective"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(0)rotateX(-60deg);
}

.tippy-popper[x-placement^="bottom"] [data-animation="fade"][data-state="visible"] {
  transform: translateY(10px);
}

.tippy-popper[x-placement^="bottom"] [data-animation="fade"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(10px);
}

.tippy-popper[x-placement^="bottom"] [data-animation="shift-away"][data-state="visible"] {
  transform: translateY(10px);
}

.tippy-popper[x-placement^="bottom"] [data-animation="shift-away"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(0);
}

.tippy-popper[x-placement^="bottom"] [data-animation="scale"][data-state="visible"] {
  transform: translateY(10px)scale(1);
}

.tippy-popper[x-placement^="bottom"] [data-animation="scale"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(0)scale(.5);
}

.tippy-popper[x-placement^="left"] .tippy-backdrop {
  border-radius: 50% 0 0 50%;
}

.tippy-popper[x-placement^="left"] .tippy-roundarrow {
  transform-origin: 33.3333%;
  right: -16px;
}

.tippy-popper[x-placement^="left"] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  transform: rotate(90deg);
}

.tippy-popper[x-placement^="left"] .tippy-arrow {
  transform-origin: 0;
  border-top: 8px solid #0000;
  border-bottom: 8px solid #0000;
  border-left: 8px solid #333;
  margin: 3px 0;
  right: -7px;
}

.tippy-popper[x-placement^="left"] .tippy-backdrop {
  transform-origin: 50% 0;
}

.tippy-popper[x-placement^="left"] .tippy-backdrop[data-state="visible"] {
  transform: scale(1)translate(-50%, -50%);
}

.tippy-popper[x-placement^="left"] .tippy-backdrop[data-state="hidden"] {
  opacity: 0;
  transform: scale(.2)translate(-75%, -50%);
}

.tippy-popper[x-placement^="left"] [data-animation="shift-toward"][data-state="visible"] {
  transform: translateX(-10px);
}

.tippy-popper[x-placement^="left"] [data-animation="shift-toward"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(-20px);
}

.tippy-popper[x-placement^="left"] [data-animation="perspective"] {
  transform-origin: 100%;
}

.tippy-popper[x-placement^="left"] [data-animation="perspective"][data-state="visible"] {
  transform: translateX(-10px)rotateY(0);
}

.tippy-popper[x-placement^="left"] [data-animation="perspective"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(0)rotateY(-60deg);
}

.tippy-popper[x-placement^="left"] [data-animation="fade"][data-state="visible"] {
  transform: translateX(-10px);
}

.tippy-popper[x-placement^="left"] [data-animation="fade"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(-10px);
}

.tippy-popper[x-placement^="left"] [data-animation="shift-away"][data-state="visible"] {
  transform: translateX(-10px);
}

.tippy-popper[x-placement^="left"] [data-animation="shift-away"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(0);
}

.tippy-popper[x-placement^="left"] [data-animation="scale"][data-state="visible"] {
  transform: translateX(-10px)scale(1);
}

.tippy-popper[x-placement^="left"] [data-animation="scale"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(0)scale(.5);
}

.tippy-popper[x-placement^="right"] .tippy-backdrop {
  border-radius: 0 50% 50% 0;
}

.tippy-popper[x-placement^="right"] .tippy-roundarrow {
  transform-origin: 66.6667%;
  left: -16px;
}

.tippy-popper[x-placement^="right"] .tippy-roundarrow svg {
  position: absolute;
  left: 0;
  transform: rotate(-90deg);
}

.tippy-popper[x-placement^="right"] .tippy-arrow {
  transform-origin: 100%;
  border-top: 8px solid #0000;
  border-bottom: 8px solid #0000;
  border-right: 8px solid #333;
  margin: 3px 0;
  left: -7px;
}

.tippy-popper[x-placement^="right"] .tippy-backdrop {
  transform-origin: -50% 0;
}

.tippy-popper[x-placement^="right"] .tippy-backdrop[data-state="visible"] {
  transform: scale(1)translate(-50%, -50%);
}

.tippy-popper[x-placement^="right"] .tippy-backdrop[data-state="hidden"] {
  opacity: 0;
  transform: scale(.2)translate(-25%, -50%);
}

.tippy-popper[x-placement^="right"] [data-animation="shift-toward"][data-state="visible"] {
  transform: translateX(10px);
}

.tippy-popper[x-placement^="right"] [data-animation="shift-toward"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(20px);
}

.tippy-popper[x-placement^="right"] [data-animation="perspective"] {
  transform-origin: 0;
}

.tippy-popper[x-placement^="right"] [data-animation="perspective"][data-state="visible"] {
  transform: translateX(10px)rotateY(0);
}

.tippy-popper[x-placement^="right"] [data-animation="perspective"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(0)rotateY(60deg);
}

.tippy-popper[x-placement^="right"] [data-animation="fade"][data-state="visible"] {
  transform: translateX(10px);
}

.tippy-popper[x-placement^="right"] [data-animation="fade"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(10px);
}

.tippy-popper[x-placement^="right"] [data-animation="shift-away"][data-state="visible"] {
  transform: translateX(10px);
}

.tippy-popper[x-placement^="right"] [data-animation="shift-away"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(0);
}

.tippy-popper[x-placement^="right"] [data-animation="scale"][data-state="visible"] {
  transform: translateX(10px)scale(1);
}

.tippy-popper[x-placement^="right"] [data-animation="scale"][data-state="hidden"] {
  opacity: 0;
  transform: translateX(0)scale(.5);
}

.tippy-tooltip {
  color: #fff;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 4px;
  max-width: 350px;
  position: relative;
}

.tippy-tooltip[data-size="small"] {
  padding: .2rem .4rem;
  font-size: .75rem;
}

.tippy-tooltip[data-size="large"] {
  padding: .4rem .8rem;
  font-size: 1rem;
}

.tippy-tooltip[data-animatefill] {
  background-color: #0000;
  overflow: hidden;
}

.tippy-tooltip[data-interactive], .tippy-tooltip[data-interactive] path {
  pointer-events: auto;
}

.tippy-tooltip[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11);
}

.tippy-tooltip[data-inertia][data-state="hidden"] {
  transition-timing-function: ease;
}

.tippy-arrow, .tippy-roundarrow {
  width: 0;
  height: 0;
  position: absolute;
}

.tippy-roundarrow {
  fill: #333;
  pointer-events: none;
  width: 24px;
  height: 8px;
}

.tippy-backdrop {
  will-change: transform;
  z-index: -1;
  backface-visibility: hidden;
  background-color: #333;
  border-radius: 50%;
  width: calc(110% + 2rem);
  transition: all cubic-bezier(.46, .1, .52, .98);
  position: absolute;
  top: 50%;
  left: 50%;
}

.tippy-backdrop:after {
  content: "";
  float: left;
  padding-top: 100%;
}

.tippy-backdrop + .tippy-content {
  will-change: opacity;
  transition-property: opacity;
}

.tippy-backdrop + .tippy-content[data-state="visible"] {
  opacity: 1;
}

.tippy-backdrop + .tippy-content[data-state="hidden"] {
  opacity: 0;
}

.tippy-tooltip.light-theme {
  color: #26323d;
}

.tippy-tooltip.light-theme[x-placement^="top"] .tippy-arrow {
  border-top: 8px solid #fff;
  border-left: 8px solid #0000;
  border-right: 8px solid #0000;
}

.tippy-tooltip.light-theme[x-placement^="bottom"] .tippy-arrow {
  border-bottom: 8px solid #fff;
  border-left: 8px solid #0000;
  border-right: 8px solid #0000;
}

.tippy-tooltip.light-theme[x-placement^="left"] .tippy-arrow {
  border-top: 8px solid #0000;
  border-bottom: 8px solid #0000;
  border-left: 8px solid #fff;
}

.tippy-tooltip.light-theme[x-placement^="right"] .tippy-arrow {
  border-top: 8px solid #0000;
  border-bottom: 8px solid #0000;
  border-right: 8px solid #fff;
}

.tippy-tooltip.light-theme .tippy-backdrop {
  background-color: #fff;
}

.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: #fff;
}

.tippy-tooltip.light-theme[data-animatefill] {
  background-color: #0000;
}

/*# sourceMappingURL=index.b6ecf031.css.map */
